body {
  background-image: url("./img/back.png");
  background-size: cover;
  min-height: 100vh;
  background-position: bottom left;
}

/* remove arrays from input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*  */


input[type=number] {
  -moz-appearance: textfield;
}

.container {
  min-height: 100vh;
}

.title {
  text-shadow: 0 6px 10px rgba($color: #001330, $alpha: 0.35);
}

form {
  width: 30%;
  margin: auto;
}

input {
  width: 100%;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 16px;
  border: none;
  box-shadow: 0 10px 40px 0 rgba($color: #053968, $alpha: 0.4);
  outline: none;

  &:active{
    transform: scale(0.99);

  }
}

.btn-blue {
  background-color: #1584cc;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 8px 30px;
  font-size: 20px;
  box-shadow: 0 10px 40px 0 rgba($color: #053968, $alpha: 0.7);
  outline: none !important;
  border: none !important;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 10px 30px 0 rgba($color: #053968, $alpha: 0.8);
  }
  &:active{
    transform: scale(0.9);
  }
}

#modal {
  background-color: rgba($color: #000000, $alpha: 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-panel {
    text-align: center;
    max-width: 600px;
    margin: 0 15px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 10px 30px 0 rgba($color: #000, $alpha: 0.5);
    animation-name: zoomin;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);

    .icon {
      position: absolute;
      height: 140px;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
    }

    p {
      margin: 10px 0;
      text-shadow: 0 4px 7px rgba($color: #000, $alpha: 0.6);
    }
  }

  #success {
    background: linear-gradient(91.41deg, #71eb5d 5.33%, #b8bb32 92.84%);
  }

  #error {
    background: linear-gradient(91.41deg, #eb5d5d 5.33%, #bb7432 92.84%);
    border: 4px solid rgba($color: #8b241e, $alpha: 0.7);
  }
}

@keyframes zoomin {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

// responsibility

@media (max-width:768px) {
  form {
    width: 100%;
  }
}